
{{ define "main" }}

{{ range (.Site.RegularPages.GroupByDate "2006") }}
<div class="article-content">
    <div class="markdown-body content-padding-large soft-size--large soft-style--box">
        <h2>{{ .Key }}</h2>
        <ul class="archive-list">
            {{ range  ( where .Pages  "Type" "!=" "page")}}
            <li>
                {{ .PublishDate.Format "2006-01-02" }}
                ->&nbsp;
                <a href="{{ .RelPermalink }}">{{ .Title }} </a>
                &nbsp;
                <code>{{ .File.Dir }}</code>
                <code>{{ .File.LogicalName }}</code>
            </li>
            {{ end }}
        </ul>
    </div>
</div>

{{ end }}
{{ end }}

{{ define "widget" }}
<aside class="widget-info">
    {{ partial "widget/widget-author.html" . }}

    {{ partial "widget/widget-categories.html" . }}

    {{ partial "widget/widget-tags.html" . }}
</aside>
{{ end }}